 <!-- <base href="/"> -->
<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
  .bootbox .modal-dialog{
    width: 350px !important;
    padding-top: 200px;  
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
  .i-switch-md input:checked + i::after {
    color: green;
    content: "Y";
    font-size: 15px;
    font-style: normal;
    margin-left: 19px;
}
.i-switch-md i::after {
    color: rgb(35,183,229);
    content: "N";
    font-size: 15px;
    font-style: normal;
    text-align: center;
    width: 22px;
}
.i-switch i::before {
    background-color: rgb(35,183,229);
    border: 1px solid rgb(35,183,229);
    border-radius: 30px;
    bottom: -1px;
    content: "";
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: all 0.2s ease 0s;
}
</style>
<div>

  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-users"></i> &nbsp&nbsp<b>Cost Center</b> | Cost Center View</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <div class="panel-heading" style="padding:10px;">
    <span style="font-size:18px;"><b>Cost Center View</b></span>  
    <a data-toggle="modal" data-target="#myModal" ng-click="addBatch()" class="btn btn-success btn-sm pull-right" style="margin-top:-2px;">
    <i class="fa fa-plus"></i> &nbsp;Add Cost Center</a>
    </div>
    <div class="table table-responsive">
    <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" style="border-bottom: 1px solid #cfdadd;">
      <tr>
          <th style="width:185px !important">
            <form class="form-inline">
              <div class="form-group">
                <label for="email">Item by Page &nbsp;</label>
                <select class="input-sm form-control" name="items" id="items" ng-model="itemsByPage"><option value="5" ng-selected="5==itemsByPage">5</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="500">500</option></select>
              </div>
            </form>
          </th>
            <th colspan="2">
               <div>
                <select class="input-sm form-control w-sm inline v-middle" ng-model="bulkaction">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="applyAction()">Apply</button>                
              </div>
            </th>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
    </table>
    <!-- <hr> -->
      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" st-set-filter="customFilter">
        <thead>
          <tr>
            <th style="width:5px !important"></th>
           <!--  <th>
              <st-select-distinct collection="rowCollection" predicate="ACA_BAT_NAME"></st-select-distinct>
            </th> -->
            <th>
              <input st-search="'ACA_BAT_NAME'" placeholder="Search for Cost Center Code" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'ACA_BAT_START_DT'" placeholder="Search for Description" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'ACA_BAT_END_DT'" placeholder="Search for from Date" class="input-sm form-control" type="search"/>
            </th>
            <!-- <th>
              <st-select-multiple collection="rowCollection" predicate="ACA_BAT_IMP_PRE_BAT_SUB_YN"></st-select-multiple>
            </th>
            <th>
              <st-select-multiple collection="rowCollection" predicate="ACA_BAT_IMP_PRE_BAT_MASTER_FEE_YN"></st-select-multiple>
            </th> -->
          </tr>
          <tr>
            <th>
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="selectall" ng-change="callbackbulk()"><i></i>
              </label>
            </th>
            <th st-sort="ACA_BAT_NAME">Cost Center Code</th>
            <th st-sort="ACA_BAT_START_DT">Description</th>
            <th st-sort="ACA_BAT_END_DT">Effective From</th>
            <!-- <th st-sort="ACA_BAT_IMP_PRE_BAT_SUB_YN">Subject</th>
            <th st-sort="ACA_BAT_IMP_PRE_BAT_MASTER_FEE_YN">Fees Master</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr ng-repeat="row in displayedCollection">
            <td ><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post[$index]" ng-value="$index" ng-change="callbackfunction()"><i></i></label></td>
            <td>{{row.ACA_BAT_NAME}}</td>
            <td>{{row.ACA_BAT_START_DT | date:'dd-MM-yyyy'}}</td>
            <td>{{row.ACA_BAT_END_DT | date:'dd-MM-yyyy'}}</td>
<!--             <td>{{row.ACA_BAT_END_DT}}</td> -->
<!--             <td>{{row.ACA_BAT_IMP_PRE_BAT_SUB_YN}}</td>
            <td>{{row.ACA_BAT_IMP_PRE_BAT_MASTER_FEE_YN}}</td> -->
            <td style="white-space: nowrap">
              <div class="buttons" ng-show="!rowform.$visible">
                <!-- <a ui-sref="app.Batch-View" class="btn btn-sm btn-primary" ng-click="GetBatchView(row)"><i class="glyphicon glyphicon-file"></i></a> -->
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" ng-click="EditBatch(row)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="DeleteBatch(row)"><i class="fa fa-trash-o"></i></button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tbody ng-if="NoData">
          <tr>
            <td colspan="8" class="text-center">No Batch Found in This Class !</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="3" style="padding-top: 3%">
              <p>Showing {{currentViewCalculation()}} to {{currentViewCalculationMax()}} of {{rowCollection.length}} entries</p>
          </td>
          <td colspan="3">
              <div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/pagination.custom.html" class="pull-right"></div>
            </td>
          </tr>
        </tfoot>
      </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-md" style="padding-top: 87px">
    <div class="modal-content">
        <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button">
          <i class="fa  fa-times-circle "></i>
      </button>
        <h4 class="modal-title" id="header">Add Cost Center</h4>
        <!-- <h4 class="modal-title" ng-if="Edit" id="header">Edit Store</h4> -->
        </div>
        <div class="modal-body">
      <div class="panel-body">
          <form class="bs-example form-horizontal form-validation ng-pristine ng-valid" name="Form">
            <div class="form-group">
              <label class="col-lg-4  control-label">Cost Center Code</label>
              <div class="col-lg-6">
                  <input class="form-control" placeholder="Enter Cost Center Code" ng-model="Batch.ACA_BAT_NAME" name="ACA_BAT_NAME" type="text" required="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4  control-label">Description</label>
              <div class="col-lg-6">
                  <input class="form-control" placeholder="Enter Description" ng-model="Batch.ACA_BAT_NAME" name="ACA_BAT_NAME" type="text" required="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4  control-label">Effective From</label>
                <div ng-controller="DatepickerDemoCtrl" class="col-md-6">
                <div class="input-group w-md" style="width: 256px">
                  <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}"  ng-model="Batch.ACA_BAT_START_DT" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-4  control-label">Status Active</label>
              <div class="col-lg-6">
                <div class="">
                  <label class="i-switch i-switch-md bg-success m-t-xs m-r">
                    <input  type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-init="ACA_BAT_IMP_PRE_BAT_MASTER_FEE_YN='N'" ng-model="Batch.ACA_BAT_IMP_PRE_BAT_MASTER_FEE_YN" name="ACA_BAT_IMP_PRE_BAT_MASTER_FEE_YN" >
                    <i></i>
                  </label>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <div class="col-lg-offset-4 col-lg-8">
                <button type="button" class="btn btn-sm btn-success" ng-click="saveBatch();Form.$setPristine()" data-dismiss="modal" class="close" ng-disabled="Form.$invalid" ng-if="Savebutton">&nbsp;Save</button>
                  <button type="button" class="btn btn-sm btn-info" ng-click="updateBatch(row)" data-dismiss="modal" class="close" ng-if="Updatebutton" ng-disabled="Form.$invalid">&nbsp;Update</button>
                </div>
            </div> -->
          </form>
        </div>
        <div class="modal-footer ng-scope">                  
            <button ng-click="cancel()" class="btn btn-default">Cancel</button>
            <button ng-click="ok()" class="btn btn-primary">Save</button>
        </div>
    </div>
      </div>
  </div>
    </div>