<style type="text/css">
  .breadcrumbWidth{
    height: 70px;
  }
</style>
<div class="bg-light lter b-b wrapper-md breadcrumbWidth">
  <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"></i><b>HMS</b> | Opearations</h4>
    </div>
    <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Home</a></li>
        <li><a href="">Operations</a></li>
        <li class="active">Issue Return</li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">Issue Return</div>
    <div class="panel-body">
      <form class="bs-example form-horizontal">
        <!-- <div class="form-group pull-in clearfix">
          <div class="col-sm-3">
            <label>Your name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="contact.name" required >
          </div>
          <div class="col-sm-3">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Enter email" ng-model="contact.email" required >
          </div>
        </div> -->

          <div class="col-md-5">
            <div class="form-group">
              <label class="col-lg-3 control-label">Cost Code</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Mk">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Store Code</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="BANQ">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Iss Doc.No</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label class="col-lg-3 control-label">Cost Name</label>
              <div class="col-lg-7">
                <input type="text" class="form-control" placeholder="MAIN KITCHEN">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Store Name</label>
              <div class="col-lg-7">
                <input type="text" class="form-control" placeholder="BANQUETS">
              </div>
            </div>
            <div class="col-md-12">
             <div class="form-group col-md-6">
              <label class="col-lg-6 control-label">Iss.Date</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="">
              </div>
              </div>
              <div class="form-group col-md-6">
              <label class="col-lg-4 control-label">Ret Date</label>
              <div class="col-lg-7">
                <input type="text" class="form-control" placeholder="">
              </div>
              </div>
            </div>
          </div>
      </form>

      <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
        <thead>
        <tr style="background-color: rgb(237,241,242);">
          <th>S.No</th>
          <th>Item Code</th>
          <th>Item Name</th>
          <th>UOM</th>
          <th>return Qty</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollectionBasic" st-select-row="row">
          <td>{{row.Sno}}</td>
          <td>{{row.itemcode}}</td>
          <td>{{row.itemname}}</td>
          <td>{{row.uom}}</td>
          <td>{{row.ret_qty}}</td>
        </tr>
        </tbody>
      </table>

      <div class="form-group">        
        <div class="col-sm-offset-5">
          <button type="submit" class="btn btn-danger" ui-sref="app.oper.issue-return">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>