<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
</style>
<div >
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-left', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <div class="panel-heading" style="padding:10px;">
    <span style="font-size:18px;"><b>Add Indent</b></span>
    <hr>  
  
      <form name="" class="form-validation">
           
          <div class="row">

            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Indent No</label> 
                <input type="text" placeholder="Enter Indent No" name="" class="form-control input-sm">
              </div>
             </div>
            <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">Indent Date</label>
                   <div class="" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                      <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="Idate" is-open="opened" datepicker-options="" close-text="Close" name="" ng-required="true" placeholder="Date">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
              </div>
             </div>
             <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">Template No</label>
                  <input type="text"  placeholder="Enter Template No"  name="" class="form-control input-sm" >
              </div>         
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Main Cost centre</label> 
                <input type="text" placeholder="Enter cost centre" name="" class="form-control input-sm" >
              </div>
             </div>
            <div class="col-sm-3">
             <div class="form-group">
                <label class="control-label" style="margin-top:15px;"></label> 
                <input type="text" placeholder="" name="" class="form-control input-sm" >
              </div>
             </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Sub Cost centre</label> 
                <input type="text" placeholder="Enter cost centre" name="" class="form-control input-sm" >
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" style="margin-top:15px;"></label> 
                <input type="text" placeholder="" name="" class="form-control input-sm" >
              </div>         
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Store Code</label> 
                <input type="text" placeholder="Enter Store Code" name="" class="form-control input-sm">
              </div>
             </div>
            <div class="col-sm-3">
             <div class="form-group">
                <label class="control-label" style="margin-top:15px;"></label> 
                <input type="text" placeholder="" name="" class="form-control input-sm">
              </div>
             </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Authorised by</label> 
                <input type="text" placeholder="Authorised by" name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Remarks</label> 
                <input type="text" placeholder="Remarks" name="" class="form-control input-sm">
              </div>         
            </div>
        </div>
      <div style=" border: 1px solid rgb(223,225,225); height: 200px;" >
         <div>
          <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(237,241,242);">
              <tr>
                <th>Srl#</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>Brand</th>
                <th>UOM</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Value</th>
                <th>Reg-Date</th>
              </tr>
            </thead>
            <tbody>
            <!-- <tr>
             <td>1</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
            </tr> -->

            <tr ng-repeat="user in users | filter:filterUser">
                <td>
                  <input type="text" ng-model="user.Store" value="{{user.Store}}"  focus-me="first" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Min" value="{{user.Min}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Max" value="{{user.Max}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.ROL" value="{{user.ROL}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                 <td>
                  <input type="text" ng-model="user.ROQ" value="{{user.ROQ}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Rec" value="{{user.Rec}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Iss" value="{{user.Iss}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Location" value="{{user.Location}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td><button type="button" ng-click="removeUser($index)" class="btn btn-sm btn-danger pull-right">Del</button></td>
              </tr>
              <tr >
                <td>
                  <input type="text" ng-model="userObj[$index].Store" ng-focus="addUser()" class="form-control input-sm" placeholder="" >
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Min" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Max" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].ROL" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].ROQ" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Rec" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Iss" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Location" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td><button type="button" ng-click="removeUser($index)" class="btn btn-sm btn-danger pull-right">Del</button></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <br>
        <div class="row col-sm-offset-9">
          <div class="form-group">
            <label class="control-label col-sm-2" style="margin-top: 5px;">Total</label> 
            <div class="col-sm-8">
              <input type="text" placeholder="" name="" class="form-control input-sm">
            </div>
          </div>         
        </div>
        <br>
          <div class="row">
             <div class="form-group">
              <div class="col-lg-offset-5 col-lg-10">
                <button type="button" class="btn btn-sm btn-info">Save</button>
                <button type="button" class="btn btn-sm btn-danger" ui-sref="app.oper.indentsview">Cancel</button>
              </div>
            </div>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript">
app.controller('indentCtrl', ['$scope','$controller','$http','$localStorage', function($scope,controller,$http,$localStorage, editableOptions, editableThemes){
  $scope.addUser = function() {
      //alert("in");
      if ($scope.users.length > 0) {
        var previousIndex=parseInt($scope.users.length)-1;
        if(!$scope.checkEmpty($scope.users[previousIndex])){
            return false;
        }
      }
      $scope.inserted = {
        id: $scope.users.length+1,
        Iss: '',
        Location: ''
      };
      $scope.users.push($scope.inserted);
    };
    $scope.checkEmpty = function(data) {
      console.log(data,'data');
        if (data.Location!='' || data.Iss!='') {
            return true;
        }else{
            return false;
        }
    };

    $scope.removeUser = function(index) {
      $scope.users.splice(index, 1);
    };
    $scope.users = [];
  }]);
app.directive('focusMe', function () {
    return {
        link: function (scope, element, attrs) {
          console.log(attrs.focusMe,"attrs")  ;
          if (scope.$last && attrs.focusMe=="first") {
            // console.log(element[0]);
             element[0].focus();
           }
        }
    };
  });
</script> -->