<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
  .bootbox .modal-dialog{
    width: 350px !important;
  }
</style>
<div ng-cloak>

  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-money"></i> &nbsp&nbsp<b>Operations</b> | Purchase Order</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Home</a></li>
        <li><a href="">Operations</a></li>
        <li class="active">PurchaseOrderView</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <div class="panel-heading" style="padding:19px;"><span style="font-size:18px;"><b>View Purchase Order</b></span>  
    <a ui-sref="app.oper.purchase-orderAdd" class="btn btn-success m-b-sm"  style="float: right !important;margin-top:-5px;"><i class="fa fa-plus"></i> Add Purchase</a></div>
    <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" style="border-bottom: 1px solid #cfdadd;">
      <tr>
          <th style="width:185px !important">
            <form class="form-inline">
              <div class="form-group">
                <label for="email">Item by Page &nbsp;</label>
                <select class="input-sm form-control" name="items" id="items" ng-model="itemsByPage"><option value="5" ng-selected="5==itemsByPage">5</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="500">500</option></select>
              </div>
            </form>
          </th>
            <th colspan="2">
               <div>
                <select class="input-sm form-control w-sm inline v-middle" ng-model="bulkaction">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="applyAction()">Apply</button>                
              </div>
            </th>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
    </table>
    <!-- <hr> -->

      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" st-set-filter="customFilter">
        <thead>
          <tr>
            <th style="width:5px !important"></th>
            <th>
              <input st-search="''" placeholder="search for Dept Reg No" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="''" placeholder="search for P.O Date" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="''" placeholder="search for Payment Mode" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="''" placeholder="search for Delivery Date" class="input-sm form-control" type="search"/>
            </th>
          <!--   <th>
              <st-select-multiple collection="rowCollection" predicate=""></st-select-multiple>
            </th> -->
          </tr>
          <tr>
            <th>
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="selectall" ng-change="callbackbulk()"><i></i>
              </label>
            </th>
            <th st-sort="">Dept Reg No</th>
            <th st-sort="">P.O Date</th>
            <th st-sort="">Payment Mode</th>
            <th st-sort="">Delivery Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr>
            <td ><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post[$index]" ng-value="$index" ng-change="callbackfunction()"><i></i></label></td>
            <td>RE014</td> 
            <td>06/02/2017</td>
            <td>Cash</td>
            <td>08/03/20017</td>
            <td style="white-space: nowrap">
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" ng-click="EditClass(row)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="DeleteClass(row)"><i class="fa fa-trash-o"></i></button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="3" style="padding-top: 3%">
            <div ng-show="rowCollection.length > itemsByPage">
              <p>Showing {{currentViewCalculation()}} to {{currentViewCalculationMax()}} of {{rowCollection.length}} entries</p>
            </div>
          </td>
          <td colspan="3">
              <div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/pagination.custom.html" class="pull-right"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
