<style type="text/css">
 
</style>
<div>
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-left', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <div class="panel-heading" style="padding:10px;">
    <span style="font-size:18px;"><b>Add Receipt</b></span>
    <hr>  
  
      <form name="" class="form-validation">
           
          <div class="row">
            
             <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">P.O No</label>
                  <input type="text"  placeholder="Enter P.O #"  name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">P.O Date</label>
                   <div class="" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                      <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="POdate" is-open="opened" datepicker-options="" close-text="Close" name="" ng-required="true" placeholder="Select Date">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
              </div>
             </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Supplier Code</label> 
                <input type="text" placeholder="Enter Supplier Code" name="" class="form-control input-sm">
              </div>
             </div>
            <div class="col-sm-3">
             <div class="form-group">
                <label class="control-label" style="margin-top:15px;"></label> 
                <input type="text" placeholder="" name="" class="form-control input-sm">
              </div>
             </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">P.O Ref</label>
                  <input type="text"  placeholder="Enter P.O Ref"  name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">GRN Date</label>
                   <div class="" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                      <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="GRNdate" is-open="opened" datepicker-options="" close-text="Close" name="" ng-required="true" placeholder="Select Date">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
              </div>
             </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Delivery Note No</label> 
                <input type="text" placeholder="Enter Delivery No" name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Delivery Note Date</label> 
                 <div class="" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                      <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="DNdate" is-open="opened" datepicker-options="" close-text="Close" name="" ng-required="true" placeholder="Select Date">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
              </div>
             </div>
        </div>
      


      <div style=" border: 1px solid rgb(223,225,225); height: 200px;" >
         <div>
          <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(237,241,242);">
              <tr>
                <th>Srl#</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>UOM</th>
                <th>PO.Qty</th>
                <th>Store</th>
                <th>Rec.Qty</th>
                <th>Rate</th>
                <th>Disc%</th>
              </tr>
            </thead>
            <tbody>
            <tr>
             <td>1</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
            </tr>
            </tbody>
          </table>
          </div>
        </div><br>


         <div class="row">
         <div class="col-sm-3">
             <div class="form-group">
                <label class="control-label">Tax Value</label> 
                <input type="text" placeholder="Enter Tax Value" name="" class="form-control input-sm">
              </div>
             </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">G.R.N Value</label> 
                <input type="text" placeholder="Enter G.R.N Value" name="" class="form-control input-sm">
              </div>         
            </div>
            
        </div>
        <div class="row">
        <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Last GRN Date</label> 
                <div class="" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group w-md">
                      <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="GRNdate" is-open="opened" datepicker-options="" close-text="Close" name="" ng-required="true" placeholder="Select Date">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
              </div>
             </div>
            
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Payment Mode</label> 
                <input type="text" placeholder="Payment Mode" name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-6" style="margin-top: -46px;">
             <div class="form-group">
              <div style=" border: 1px solid rgb(223,225,225); height: 100px;">
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                  <tr class="border">
                    <th class="border" style="background-color: rgb(237,241,242);">Tax Code </th>
                    <th class="border" style="background-color: rgb(237,241,242);">Tax Name</th> 
                    <th class="border" style="background-color: rgb(237,241,242);">Amount</th>
                  </tr>
                  <tr class="border">
                    <td class="border">TX03</td>
                    <td class="border"></td>
                    <td class="border"></td>
                   
                  </tr>
                </table>
                </div>

              </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Remarks</label> 
                 <input type="text" placeholder="" name="" class="form-control input-sm" value="15 DAYS CREDIT">
                 
              </div>
             </div>
        </div>
        
         <div class="row">
             <div class="form-group">
              <div class="col-lg-offset-5 col-lg-10">
                <button type="button" class="btn btn-sm btn-info">Save</button>
                <button type="button" class="btn btn-sm btn-danger">Cancel</button>
              </div>
            </div>
          </div>
</form>

        <br>
         
        </div>
    </div>
  </div>
</div>
