<style type="text/css">
  
</style>
<div>
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-left', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <div class="panel-heading" style="padding:10px;">
    <span style="font-size:18px;"><b>Receipt Returns</b></span>
    <hr>  
  
      <form name="" class="form-validation">
           
          <div class="row">
             <div class="col-sm-1">
           </div>
             <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">Store Code</label>
                  <input type="text"  placeholder="BAN04"  name="" class="form-control input-sm">
              </div>         
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">Store Name</label>
                  <input type="text"  placeholder="BANQUETS"  name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">Supplier Code</label> 
                <input type="text" placeholder="BJM07" name="" class="form-control input-sm">
              </div>
             </div>
           
        </div>
         <div class="row">
           <div class="col-sm-1">
           </div>
            <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">Supplier Name</label>
                  <input type="text"  placeholder="A JOHAN SUPPLIER"  name="" class="form-control input-sm">
              </div>         
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label">Return Date</label>
                   <div class="" ng-controller="DatepickerDemoCtrl">
                    <div class="input-group ">
                      <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="Rdate" is-open="opened" datepicker-options="" close-text="Close" name="" ng-required="true" placeholder="Date">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
              </div>
             </div>
        </div>
      


      <div style=" border: 1px solid rgb(223,225,225); height: 200px;" >
         <div>
          <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(237,241,242);">
              <tr>
                <th>S.No</th>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Doc#</th>
                <th>UOM</th>
                <th>Max Ret Qty</th>
                <th>Rate</th>
                <th>Tax Code</th>
                <!-- <th>Tax %</th>
                <th>Ret Qty</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <!-- <tr>
             <td>1</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
            </tr> -->
            <tr ng-repeat="user in users | filter:filterUser">
                <td>
                  <input type="text" ng-model="user.Store" value="{{user.Store}}"  focus-me="first" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Min" value="{{user.Min}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Max" value="{{user.Max}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.ROL" value="{{user.ROL}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                 <td>
                  <input type="text" ng-model="user.ROQ" value="{{user.ROQ}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Rec" value="{{user.Rec}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Iss" value="{{user.Iss}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="user.Location" value="{{user.Location}}"  focus-me class="form-control input-sm" placeholder="">
                </td>
                <td><button type="button" ng-click="removeUser($index)" class="btn btn-sm btn-danger pull-right">Del</button></td>
              </tr>
              <tr >
                <td>
                  <input type="text" ng-model="userObj[$index].Store" ng-focus="addUser()" class="form-control input-sm" placeholder="" >
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Min" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Max" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].ROL" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].ROQ" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Rec" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Iss" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td>
                  <input type="text" ng-model="userObj[$index].Location" ng-focus="addUser()" class="form-control input-sm" placeholder="">
                </td>
                <td><button type="button" ng-click="removeUser($index)" class="btn btn-sm btn-danger pull-right">Del</button></td>
              </tr>

            </tbody>
          </table>
          </div>
        </div><br>
         <div class="row">
             <div class="form-group">
              <div class="col-lg-offset-5 col-lg-10">
                <button type="button" class="btn btn-sm btn-info">Save</button>
                <button type="button" class="btn btn-sm btn-danger">Cancel</button>
              </div>
            </div>
          </div>
</form>

        <br>
         
        </div>
    </div>
  </div>
</div>
